# Environments
.env

# VIM/Neovim Swap-files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Byte-compiled / optimized
__pycache__/
*.py[cod]

# File that contents last video ID
last_video

# Information files for Telegram group chats
rules.txt
welcome.txt

